swagger: "2.0"
info:
  description: "Api do WM1 WebMotors"
  version: "1.0.0"
  title: "WM1"
host: "www.webmotors.com.br"
basePath: "/api/wm1"
tags:
- name: "news"
  description: "Api de noticias do WM1"
schemes:
- "https"
paths:
  /news:
    get:
      tags:
      - "news"
      summary: "Trará as noticias do WM1"
      description: "Endpoint de noticias do WM1"
      operationId: "news"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/News"
        "400":
          description: Validation exception
definitions:
  News:
    type: "array"
    items:
      type: "object"
      properties:
        AutorId:
          type: "integer"
          format: "int64"
          example: 253
        Content:
          type: "string"
          example: 'A <strong><a href=\"https://www.webmotors.com.br/fiat\" target=\"_blank\" rel=\"noopener\">Fiat</a><...atch?v=8-QTqwcxNDU&amp;pp=ygUZNTAwIGVsw6l0cmljbyArIFdlYm1vdG9ycw%3D%3D</youtubeembed>\r\n\r\n&nbsp;'
        CategoriaSlug:
          type: "string"
          example: "noticias"
        IdImage:
          type: "integer"
          format: "int64"
          example: 801028
        Titulo:
          type: "string"
          example: "Fiat 500 terá versão híbrida, mas vai demorar"
        Categoria:
          type: "string"
          example: "Últimas notícias"
        Autor:
          type: "string"
          example: "Lucas Cardoso"
        Url:
          type: "string"
          example: "https://www.webmotors.com.br/wm1/noticias/fiat-500-tera-versao-hibrida-mas-vai-demorar"
        UrlPrincipalImage:
          type: "string"
          example: "https://www.webmotors.com.br/wp-content/uploads/2024/04/26185056/ALTA-9353-730x545.webp"
        AutorAvatar:
          type: "string"
          example: "https://www.webmotors.com.br/wp-content/uploads/2024/06/07175328/500-hibrido-F2-730x545.webp"
    xml:
      name: "News"
