openapi: 3.0.3
info:
  title: WM1
  description: |-
    Api do WM1 WebMotors
  version: 1.0.11
servers:
  - url: https://www.webmotors.com.br/api
tags:
  - name: news
    description: Api de noticias do WM1
    externalDocs:
      description: wm1
      url: https://www.webmotors.com.br/api/wm1
paths:
  /news:
    get:
      tags:
        - news
      summary: Trará as noticias do WM1
      description: WM1
      operationId: news
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/news'          
        '400':
          description: Invalid status value
components:
  schemas:
    news:
      required:
        - name
        - photoUrls
      type: object
      properties:
        AutorId:
          type: integer
          format: int64
          example: 258
        Content:
          type: string
          example: "Quem disse que não existem"
        CategoriaSlug:
          type: string
          example: "dinheiro-e-economia"
        IdImage:
          type: integer
          format: int64
          example: 798488
        Titulo:
          type: string
          example: 'Carro automático: 5 opções por menos de R$ 100 mil'
        Categoria:
          type: string
          example: "Seu bolso"
        Autor:
          type: string
          example: "Evandro Enoshita"
        Url:
          type: string
          example: "https://www.webmotors.com.br/wm1/dinheiro-e-economia/carro-automatico-5-opcoes-por-menos-de-r-100-mil"
        UrlPrincipalImage:
          type: string
          example: "https://www.webmotors.com.br/wp-content/uploads/2024/04/26185056/ALTA-9353-730x545.webp"
        AutorAvatar:
          type: string
          example: "https://www.webmotors.com.br/wm1/assets/508d6137c5695b5ed13ab89101f9d24d.png"
      xml:
        name: news
